<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${mentor.name + ' ' + mentor.surname}"></title>
</head>
<body>
    <h1 th:text="${mentor.name + ' ' + mentor.surname}">Mentor's Profile</h1>

    <table style="width:100%">
        <tr>
            <th th:text="${mentor.name}"></th>
            <th th:text="${mentor.surname}"></th>
            <th th:text="${mentor.email}"></th>
            <th th:text="${mentor.birthDate}"></th>

        </tr>
        <tr>
            <td th:each="program : ${mentor.mentorshipPrograms}" th:text="${program.programName + ' ' + program.price}"></td>
        </tr>
        <tr>

        </tr>
    </table>
</body>
</html>